<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - MedConnect</title>
    <link rel = "stylesheet" type = "text/css" href = "pg/static/css.css">
</head>
<body>
    <img src = ""
    <h1>MedConnect aims to provide medical services to all through the internet.
        People can register and look through the vast array of medical services provided by MedConnect. It provides cheap solutions to daily medical needs. People can book 
        time slots with their doctors and chat with them about their specific medical problem. 
    </h1>
</body>
</html>